/* 3alamecom font */
@font-face {
  font-family: "3alamecom";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/faridfox/3alamecom@main/fonts/3alamecom-light.woff2")
    format("woff2");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: "3alamecom";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/faridfox/3alamecom@main/fonts/3alamecom-medium.woff2")
    format("woff2");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: "3alamecom";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/faridfox/3alamecom@main/fonts/3alamecom-bold.woff2")
    format("woff2");
  unicode-range: U+0600-06FF;
}

/* Apply 3alamecom font */
body,
main,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "3alamecom", ui-sans-serif, system-ui, sans-serif;
  font-weight: 300;
}
.font-default {
  font-family: "3alamecom", ui-sans-serif, system-ui, sans-serif;
  font-weight: 300;
}
.font-normal {
  font-family: "3alamecom", ui-sans-serif, system-ui, sans-serif;
  font-weight: 300;
}
.font-medium {
  font-family: "3alamecom", ui-sans-serif, system-ui, sans-serif;
  font-weight: 500;
}
.font-semibold,
.font-bold {
  font-family: "3alamecom", ui-sans-serif, system-ui, sans-serif;
  font-weight: 700;
}

/* Forced custom Tailwind CSS styles for built-in blocks */
.navbar nav {
  /*background-color: rgb(219 234 254 / var(--tw-bg-opacity, 1));*/
  /* Glass Morphissm effect From https://css.glass */
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.4px);
  -webkit-backdrop-filter: blur(13.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar [lindo-btn="_header_d2779_login"]:focus {
  --tw-ring-offset-color: #eff6ff;
}

@media (min-width: 768px) {
  [lindo-section="_feature_i6104"] .md\:ml-5 {
    margin-left: unset;
    margin-right: 1.25rem;
  }
}

[lindo-section="_block_lo709165"] {
  .pl-5 {
    padding-left: 0.375rem;
    padding-right: 1.25rem;
  }
}
/* */

/* Heading and card slider block */
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "" !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "" !important;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 24px !important;
  height: 24px !important;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative !important;
  margin-top: 32px !important;
}

.swiper-slide.swiper-slide-active {
  --tw-border-opacity: 1 !important;
  border-color: rgb(79 70 229 / var(--tw-border-opacity)) !important;
}

.swiper-slide.swiper-slide-active > .swiper-slide-active\:text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

.swiper-slide.swiper-slide-active
  > .flex
  .grid
  .swiper-slide-active\:text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

/* Team section with opacity layout */
.miror.flex-grow > .panel.miror\:opacity-100 {
  opacity: 1;
}
.miror.flex-grow > .overlay.miror\:opacity-0 {
  opacity: 0;
}
.miror.flex-grow > .panel .flex .block.miror\:transitranslate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

/* Gallery section with overlay effect */
#gallery {
}
@media screen and (min-width: 991px) {
  .gallery {
    padding: 60px 30px 0 30px;
  }
}

.img-wrapper {
  position: relative;
}
.img-wrapper img {
  width: 100%;
}

.img-overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.overlay img {
  margin: 0;
  width: 80%;
  height: auto;
  object-fit: contain;
  padding: 5%;
}
@media screen and (min-width: 768px) {
  .overlay img {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  .overlay img {
    width: 50%;
  }
}

#nextButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}
#nextButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #nextButton {
    font-size: 3em;
  }
}

#prevButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}
#prevButton :hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #prevButton {
    font-size: 3em;
  }
}

#exitButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 15px;
  right: 15px;
}
#exitButton :hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #exitButton {
    font-size: 3em;
  }
}
