/* 3alamecom font */
@font-face {
  font-family: "3alamecom-light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/faridfox/3alamecom@main/fonts/3alamecom-light.woff2") format("woff2");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: "3alamecom-medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/faridfox/3alamecom@main/fonts/3alamecom-medium.woff2") format("woff2");
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: "3alamecom-bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/faridfox/3alamecom@main/fonts/3alamecom-bold.woff2") format("woff2");
  unicode-range: U+0600-06FF;
}

/* apply 3alamecom font */
body, main, h1, h2, h3, h4, h5, h6 {
  font-family: "3alamecom-light", ui-sans-serif, system-ui, sans-serif;
  font-weight: 300;
}
.font-default {
  font-family: "3alamecom-light", ui-sans-serif, system-ui, sans-serif;
  font-weight: 300;
}
.font-normal {
  font-family: "3alamecom-light", ui-sans-serif, system-ui, sans-serif;
}
.font-medium {
  font-family: "3alamecom-medium", ui-sans-serif, system-ui, sans-serif;
}
.font-bold {
  font-family: "3alamecom-bold", ui-sans-serif, system-ui, sans-serif;
}

/* Heading and card slider block */
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: '' !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: '' !important;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 24px !important;
  height: 24px !important;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative !important;
  margin-top: 32px !important;
}

.swiper-slide.swiper-slide-active {
  --tw-border-opacity: 1 !important;
  border-color: rgb(79 70 229 / var(--tw-border-opacity)) !important;
}

.swiper-slide.swiper-slide-active>.swiper-slide-active\:text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

.swiper-slide.swiper-slide-active>.flex .grid .swiper-slide-active\:text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}